<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAltEFoZPnXFyezoApgGf7FY7bAOFk5oA</string>
	<key>GCM_SENDER_ID</key>
	<string>213624245643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>lspd-roleplay</string>
	<key>STORAGE_BUCKET</key>
	<string>lspd-roleplay.firebasestorage.app</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:213624245643:ios:a1b2c3d4e5f60001</string>
	<key>BUNDLE_ID</key>
	<string>com.lspd.portal</string>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>DATABASE_URL</key>
	<string>https://lspd-roleplay.firebaseio.com</string>
</dict>
</plist>
